resources/assets/pug/list.pug
extends inc/_layout

block variables
    - const body_class = 'list-body';

block content
    header.site-head
        a(href="./index.html").site-head__btn.site-head__btn--left
            i.fi.fi-arrow-left
        .head-search
            .head-search__location(data-location) İstanbul Avrupa - Ankara
            .head-search__date(data-date) 25 Ekim Perşembe
    section.site-content.list-content
        include ../components/search-result/search-result

block footerScript
    script.
        __resultJS.init();

public/list.html
<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, minimum-scale=1">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&amp;display=swap" rel="stylesheet">
  </head>
  <body class="list-body">
    <header class="site-head"><a class="site-head__btn site-head__btn--left" href="./index.html"><i class="fi fi-arrow-left"></i></a>
      <div class="head-search">
        <div class="head-search__location" data-location>İstanbul Avrupa - Ankara</div>
        <div class="head-search__date" data-date>25 Ekim Perşembe</div>
      </div>
    </header>
    <section class="site-content list-content">
      <div class="search-result" data-search-result></div>
    </section>
    <script src="./assets/js/main.js"></script>
    <script src="./assets/js/app.js"></script>
    <script>__resultJS.init();</script>
  </body>
</html>
